// Fonts
$title-font: "Young Serif", serif;
$body-font: "Outfit", sans-serif;

// Colors
$bg-color: hsl(0, 0%, 100%);

$main-font-color: hsl(30, 10%, 34%);

$prep-bg-color: hsl(330, 100%, 98%);
$prep-title-color: hsl(332, 51%, 32%);

$section-title-color: hsl(14, 45%, 36%);
